@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
}
.layout {
    display: flex;
    min-height: 100vh;

    background: #f8fafc;
}

.main-content {
    flex: 1;

    display: flex;
    flex-direction: column;
}

.cards {
    padding: 35px;

    display: flex;
    gap: 25px;
    flex-wrap: wrap;
}

.card {
    width: 260px;

    background: white;

    border-radius: 18px;

    padding: 25px;

    box-shadow:
        0 8px 20px rgba(15,23,42,0.06);

    transition: 0.25s ease;
}

.card:hover {
    transform: translateY(-4px);
}

.card p {
    color: #64748b;
    font-size: 15px;
    margin-bottom: 10px;
}

.card h2 {
    color: #0f172a;
    font-size: 38px;
    font-weight: 700;
}